# Node artifacts
node_modules
npm-debug.log
yarn-error.log

# Build artifacts
build/
dist/

# Environment file
.env

# IDE files
.vscode/
.idea/
*.iml

# Dependency directories
/jspm_packages/
/bower_components/

# macOS
.DS_Store

# Editor-specific
*.swp
*.swo

# Logs
logs
*.log

# Dependency directories
/bower_components/
